// Paths
// --------------------------------
$load-elements: true;
$load-components: true;


// Paths
// --------------------------------
$font-path: '../../fonts';
$image-path: '../../images';


// Unit defauls (used for calculations)
// --------------------------------
$rem-in-px: 16px !default;


// Breakpoints
// --------------------------------
$breakpoints: (
  // Mobile
  's': 320px,
  'sl': 568px,
  // Tablets
  'm': 768px,
  'ml': 1024px,
  // Laptop/desktop
  'l': 1200px,
) !default;


// Wrapper object widths
// --------------------------------
$wrapper-widths: (
  '2xs': 320px,
  'xs': 480px,
  's': 640px,
  'd': 960px,
  'l': 1280px,
  'xl': 1440px
) !default;


// Gutters
// --------------------------------
$gutters: (
  'xs': 12px,
  's': 24px,
  'd': 32px,
  'l': 48px
) !default;


// Grid denominators
// --------------------------------
$grid-denominators: 2, 3, 4 !default;


// Z-indexes
// --------------------------------
$z-indexes: (
  'n': -11,
  'd': 0,
  'l': 11,
  'xl': 22,
  '2xl': 33,
  '3xl': 44,
  '4xl': 55,
  'h': 66,
  'xh': 77
) !default;


// Spacing units
// --------------------------------
$spacing-units: (
  '0': 0,
  '4xs': 4px,
  '3xs': 6px,
  '2xs': 8px,
  'xs': 12px,
  's': 16px,
  'd': 24px,
  'l': 32px,
  'xl': 48px,
  '2xl': 64px,
  '3xl': 96px,
  '4xl': 128px
) !default;

$margins: ('0', '2xs', 'd', 'xl') !default;
$paddings: ('xs', 'd') !default;


// Border radii
// --------------------------------
$border-radii: (
  '0': 0,
  's': 2px,
  'd': 4px,
  'l': 8px,
  'infinite': infinite() // Rounded
) !default;


// Shadows
// --------------------------------
$shadows: (
  's': (0 1px 2px),
  'd': (0 2px 4px),
  'l': (0 2px 8px),
  'xl': (0 4px 16px),
  '2xl': (0 4px 32px)
) !default;


// Font families
// --------------------------------
$font-families: (
  'heading': ('Roboto', Helvetica, Arial, sans-serif),
  'body': ('Roboto', Helvetica, Arial, sans-serif),
  'system': (-apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol')
) !default;


// Font weight
// --------------------------------
$font-weights: (
  'b': 700,
  'n': 400
) !default;

// Font-sizes
// --------------------------------
$font-sizes: (
  'xs': 0.75rem,
  's': 0.875rem,
  'd': 1rem,
  'l': 1.125rem,
  'xl': 1.25rem,
  '2xl': 1.5rem,
  '3xl': 2rem,
  '4xl': 2.5rem,
  'h': 3rem,
  'xh': 4rem,
) !default;

// Heading font-sizes for small and default screens
$heading-font-sizes: (
  's': (
    1: font-size('2x-large'),
    2: font-size('x-large'),
    3: font-size('large'),
    4: font-size('large'),
    5: font-size(),
    6: font-size()
  ),
  'm': (
    1: font-size('3x-large'),
    2: font-size('2x-large'),
    3: font-size('x-large'),
    4: font-size('large'),
    5: font-size(),
    6: font-size()
  ),
  'l': (
    1: font-size('4x-large'),
    2: font-size('3x-large'),
    3: font-size('x-large'),
    4: font-size('large'),
    5: font-size(),
    6: font-size()
  )
) !default;


// Line heights
// --------------------------------
$line-heights: (
  'none': 1,
  'small': 1.25,
  'default': 1.5,
  'large': 1.75
) !default;


// Colors
// --------------------------------
$colors: (
  'blue': #03B1EE,

  'purple': #5F51E4,

  'white': white,
  'white-light': rgba(white, 0.7),
  'white-x-light': rgba(white, 0.3),

  'black': black,

  'transparent': transparent,

  // Greys
  'grey-3xl': #FAFAFA,
  'grey-2xl': #DADADA,
  'grey-xl': #9A9A9A,
  'grey-l0': #7A7A7A,
  'grey': #4A4A4A,
  'grey-d': #1A1A1A,

  // Messaging
  'error': #FF7979,
  'info': #03B1EE,
  'warning': #FFD200,
  'success': #00EA0E,

  // Brands
  'twitter': #1DA1F2,
  'facebook': #3B5998,
  'spotify': #1ED760,
  'instagram': #E4405F
) !default;


// Transitions
// @link https://goo.gl/YT7XK8
// --------------------------------
$transitions: (
  'standard': cubic-bezier(0.4, 0, 0.2, 1),
  'enter': cubic-bezier(0, 0, 0.2, 1),
  'leave': cubic-bezier(0.4, 0, 1, 1),
  'bounce': cubic-bezier(0.6, 2, 0.7, 0.5)
) !default;
