@mixin load-component-Grid {
  @include extendable('grid') {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    margin-bottom: -(gutter());
    margin-left: -(gutter());

    // Modifiers
    @each $gutter-key, $gutter in $grid-gutters {

      &--#{abbreviate($gutter-key)} {
        margin-bottom: -$gutter;
        margin-left: -$gutter;

        > .grid__item {
          margin-bottom: $gutter;
          padding-left: $gutter;
        }
      }
    }

    @each $denominator in $grid-denominators {
      $width: percentage(1 / $denominator);

      &--#{$denominator} > .grid__item {
        flex-basis: $width;
        max-width: $width;
      }
    }

    // Responsive
    &--1 {
      @include responsive {

        > .grid__item {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    }

    @each $denominator in $grid-denominators {
      $width: percentage(1 / $denominator);

      &--#{$denominator} {
        @include responsive {

          > .grid__item {
            flex-basis: $width;
            max-width: $width;
          }
        }
      }
    }
  }

  @include extendable('grid__item') {
    position: relative;
    width: 100%;
    height: 100%;

    margin-bottom: gutter();
    padding-left: gutter();

    // Modifiers
    &--1 {
      flex-basis: 100%;
      max-width: 100%;

      @include responsive {
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    @each $denominator in $grid-denominators {
      @for $divisor from 1 through ($denominator - 1) {
        $width: 100% / $denominator * $divisor;

        &--#{$divisor}\/#{$denominator} {
          flex-basis: $width;
          max-width: $width;

          @include responsive {
            flex-basis: $width;
            max-width: $width;
          }
        }
      }
    }
  }
}
