// // Position
// // --------------------------------
// @include utility('position', relative, 'relative');
//
// // Dimensions
// // --------------------------------
// @include utility('width', 100%, 'full');
// @include utility('height', 100%, 'full');


// Display
// --------------------------------
.u\:d {

  &--0 {
    display: none !important;

    @include responsive() {
      display: none !important;
    }
  }

  &--ib {
    display: inline-block !important;
  }

  &--b {
    display: block !important;

    @include responsive {
      display: block !important;
    }
  }
}


// Overflow
// --------------------------------
.u\:of--0 {
  overflow: hidden !important;
}


// Margin
// --------------------------------
@at-root { // Create a scope
  $directions: 'top', 'bottom', 'left', 'right';

  @include utility('margin', 0);

  @each $direction in $directions {
    @include utility('margin-#{$direction}', 'd', $spacing-units);

    @each $margin in $margins {
      @include utility('margin-#{$direction}', $margin, $spacing-units);
    }
  }
}


// // Padding
// // --------------------------------
// @at-root { // Create a scope
//   $directions: 'top', 'bottom', 'left', 'right';
//   // Keys to include from global spacing-unit map
//   $include: 'none', '2x-large';
//
//   @include utility('padding', spacing());
//
//   @each $padding in $include {
//     @include utility('padding', spacing($padding), $padding);
//   }
//
//   @each $direction in $directions {
//     @include utility('padding-#{$direction}', spacing());
//
//     @each $padding in $include {
//       @include utility('padding-#{$direction}', spacing($padding), $padding);
//     }
//   }
// }
//
//
// // Background color
// // --------------------------------
// @at-root { // Create a scope
//   // Keys to include from global color map
//   $include: 'grey-3x-light', 'purple', 'blue', 'error', 'info', 'warning', 'success', 'white';
//
//   @each $background-color in $include {
//     @include utility('background-color', color($background-color), $background-color);
//   }
// }
//
//
// // Text align
// // --------------------------------
// .u\:ta {
//
//   &--l {
//     text-align: left !important;
//
//     @include responsive() {
//       text-align: left !important;
//     }
//   }
//
//   &--c {
//     text-align: center !important;
//
//     @include responsive() {
//       text-align: center !important;
//     }
//   }
//
//   &--r {
//     text-align: right !important;
//
//     @include responsive() {
//       text-align: right !important;
//     }
//   }
// }
//
//
// // Font-size
// // --------------------------------
// @at-root { // Create a scope
//   // Keys to include from global font-size map
//   $include: 'small', 'large', 'x-large';
//
//   @include utility('font-size', font-size());
//
//   @each $font-size in $include {
//     @include utility('font-size', font-size($font-size), $font-size);
//   }
// }
//
// @include utility('font-size', inherit, 'inherit');
//
//
// // Font-weight
// // --------------------------------
// @include utility('font-weight', font-weight('bold'), 'bold');
// @include utility('font-weight', font-weight('medium'), 'medium');
// @include utility('font-weight', font-weight(), 'normal');
//
//
// // Line-height
// // --------------------------------
// @include utility('line-height', 1, 'none');
// @include utility('line-height', line-height('x-small'), 'x-small');
//
//
// // Color
// // --------------------------------
// @at-root { // Create a scope
//   // Keys to include from global color map
//   $include: 'white', 'white-light', 'grey-light', 'grey-x-light', 'grey-dark', 'yellow', 'error', 'info', 'warning', 'success';
//
//   @each $color in $include {
//     @include utility('color', color($color), $color);
//   }
// }
//
// @include utility('color', inherit, 'inherit');
