@mixin load-component-Title {
	@include extendable('title') {
		display: block;

		font-family: font-family('title');
	  color: $title-color;

		@include state('last-child') {
			margin-bottom: 0;
		}


		// Modifiers
		@each $title-key, $font-size in map-get($title-font-sizes, 'default') {

			&--#{$title-key} {
				margin-bottom: 1em;

				font-size: $font-size;
	      font-weight: $title-font-weight;
				line-height: 1 + ($title-key / 20);

				@include breakpoint('small') {
					font-size: map-get(map-get($title-font-sizes, 'small'), $title-key);
				}

				@include breakpoint('medium') {
					font-size: map-get(map-get($title-font-sizes, 'medium'), $title-key);
				}

				@include breakpoint('large') {
					font-size: map-get(map-get($title-font-sizes, 'large'), $title-key);
				}
			}
		}
	}
}
