// Add responsive classes
// --------------------------------
@mixin responsive($direction: 'up') {
  @each $key, $value in $breakpoints {
    @include breakpoint($key, $direction) {
      @at-root {

        #{str-insert('#{&}', '#{$key}\:', 2)} {
          @content;
        }
      }
    }
  }
}


// Absolute child
// --------------------------------
@mixin absolute-child($spacing: 0) {
  position: absolute;
  top: $spacing; bottom: $spacing; left: $spacing; right: $spacing;
}


// Create an extendable class (with silent class)
// --------------------------------
@mixin extendable($classname) {

  .#{$classname},
  %#{$classname} {
    @content;
  }
}


// Create a simple utility class
// --------------------------------
@mixin utility($property, $value, $map: false) {
  $modifier: $value;

  @if type-of($map) == map {
    $value: map-get($map, $value);
  }

  .u\:#{abbreviate($property)}--#{$modifier} {
    #{$property}: $value !important;
  }
}
