// Add responsive classes
// --------------------------------
@mixin responsive($direction: 'up') {
  @each $key, $value in $breakpoints {
    @include breakpoint($key, $direction) {
      @at-root {

        #{str-insert('#{&}', '#{abbreviate($key)}\\:', 2)} {
          @content;
        }
      }
    }
  }
}


// Absolute child
// --------------------------------
@mixin absolute-child($spacing: 0) {
  position: absolute;
  top: $spacing; bottom: $spacing; left: $spacing; right: $spacing;
}


// Create an extendable class (with silent class)
// --------------------------------
@mixin extendable($classname) {

  .#{$classname},
  %#{$classname} {
    @content;
  }
}


// Create a utility class from value or map
// --------------------------------
@mixin utility($property, $value-or-key, $map: false) {
  $modifier: to-str($value-or-key);
  $value: $value-or-key;

  @if type-of($map) == map {
    $modifier: abbreviate($value-or-key);
    $value: map-get($map, $value-or-key);
  }

  .u\:#{abbreviate($property)}--#{$modifier} {
    #{$property}: $value !important;
  }
}
