@mixin load-elements {
  // Reset
  // --------------------------------
  blockquote,
  figure,
  form {
    margin: 0;
  	padding: 0;

  	border: 0;
  }


  // Box-sizing reset
  // --------------------------------
  html {
  	box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }


  // HTML5 display fallback for older browsers
  // --------------------------------
  article,
  aside,
  figcaption,
  figure,
  footer,
  fieldset,
  legend,
  header,
  hgroup,
  main,
  menu,
  nav,
  section {
  	display: block;
  }

  // Outline reset
  a,
  button {

  	@include state(('active', 'focus')) {
  		outline: 0;
  	}
  }


  // Document
  // --------------------------------
  html,
  body {
  	position: relative;
    width: 100%;
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0;
    padding: 0;

    font-family: font-family('body');
    font-size: font-size();
    font-weight: font-weight();
    font-style: normal;
    line-height: line-height();
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: color();
  }


  // Typography
  // --------------------------------
  h1, h2, h3, h4, h5, h6 {
  	margin: 0;

  	font-family: font-family('title');
  	color: color('grey-dark');

  	@include state('last-child') {
  		margin-bottom: 0;
  	}
  }

  @each $title-key, $font-size in map-get($title-font-sizes, 'default') {

    h#{$title-key} {
      margin-bottom: 1em;

      font-size: $font-size;
      font-weight: $title-font-weight;
      line-height: 1 + ($title-key / 20);

      @include breakpoint('small') {
        font-size: map-get(map-get($title-font-sizes, 'small'), $title-key);
      }

      @include breakpoint('medium') {
        font-size: map-get(map-get($title-font-sizes, 'medium'), $title-key);
      }

      @include breakpoint('large') {
        font-size: map-get(map-get($title-font-sizes, 'large'), $title-key);
      }
    }
  }

  p {
    margin: 0 0 spacing();

  	@include state('last-child') {
  		margin-bottom: 0;
  	}
  }

  a {
  	text-decoration: none;
  	color: color('primary');

  	@include state(('hover', 'focus')) {
  		text-decoration: underline;
  		color: color('primary');
  	}
  }

  address {
  	font-size: font-size('small');
  	font-style: normal;
  }

  // Primary color as selection background-color
  *::selection {
    background-color: color('primary');

  	color: white;
  }

  hr {
  	margin: 0;

  	border: 0;
  	border-bottom: 1px solid color('grey-2x-light');
  }


  // Lists
  // --------------------------------
  ol,
  ul {
  	list-style: none;

  	margin: 0 0 spacing();
  	padding: 0;
  }


  // Table
  // --------------------------------
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  	width: 100%;
  }

  th,
  td {
  	padding: 6px;
  	border: 0;

  	text-align: left;
  	font-size: font-size();
  	line-height: line-height('small');

    @include state('first-child') {
      padding-left: 0;
    }

    @include state('last-child') {
      padding-right: 0;
    }
  }

  th {
  	font-weight: font-weight('medium');
    color: color('grey-x-light');
  }


  // Forms
  // --------------------------------
  [type='text'],
  [type='number'],
  [type='tel'],
  [type='email'],
  [type='password'],
  [type='search'],
  [type='submit'],
  textarea,
  button,
  select {
  	appearance: none; // Reset appearance

  	font-family: inherit;
  	font-size: font-size();
  }

  [type='text'],
  [type='number'],
  [type='tel'],
  [type='email'],
  [type='password'],
  [type='search'],
  [type='submit'],
  textarea,
  select {
  	width: 100%; max-width: 100%;
  }

  select {

  	// Hide IE dropdown arrows
  	&::-ms-expand {
  		display: none;
  	}
  }

  option {
    font-size: 1rem !important;
    color: color('grey-dark');
  }

  button,
  [type='submit'],
  [type='checkbox'],
  [type='radio'] {
  	display: inline-block;
  	width: auto;

    cursor: pointer;
  }

  button,
  [type='submit'] {
  	margin: 0;
  	padding: 0;

    background-color: transparent;
  	border: 0;

    text-align: left;
  }

  [type='checkbox'],
  [type='radio'] {
  	vertical-align: middle;

  	margin: 0;
  }

  textarea {
  	resize: none;
  }

  label {
  	display: inline-block;

  	margin: 0;
  	padding: 0;

  	@include state('focus') {
  		outline: 0;
  	}
  }

  [for] {
    cursor: pointer;
  }

  fieldset,
  legend {
    width: 100%;
  	margin: 0;
  	padding: 0;

  	border: 0;
  }

  *::placeholder {
  	color: currentColor;

    opacity: 0.7;
  }


  // Media
  // --------------------------------
  iframe {
    display: block;
    max-width: 100%;

    border: 0;
  }

  img {
  	max-width: 100%;
  	height: auto;
    display: inline-block;
  	vertical-align: middle;

    border: 0;
  }
}
