@include extendable('list') {
  list-style: none;

  margin: 0;
  margin-bottom: -#{spacing('3x-small')};


  // Modifiers
  &--inline {
    display: block;
    list-style: none;
    vertical-align: top;

    margin-bottom: -#{gutter()};
    padding: 0;

    font-size: 0;


    > .list__item {
      display: inline-block;
      vertical-align: top;

      margin-right: gutter();
      margin-bottom: gutter();

      font-size: font-size();
      line-height: inherit;

      @include state('last-child') {
        margin-bottom: gutter();

        @include specify {
          margin-right: 0;
        }
      }
    }
  }

  &--center > .list__item,
  &--middle > .list__item {
    vertical-align: middle;
  }

  &--border {

    > .list__item {
      padding-bottom: spacing();
      margin-bottom: spacing();

      border-bottom: 1px solid color('grey-2x-light');

      @include state('last-child') {
        border-bottom: 0;
      }
    }

    @each $gutter-name, $gutter in $gutters {

      &.list--#{$gutter-name} > .list__item {
          padding-bottom: gutter($gutter-name);
      }
    }
  }

  @each $gutter-name, $gutter in $gutters {

    &--#{$gutter-name} {
      margin-bottom: -#{gutter($gutter-name)};

      > .list__item {
          margin-bottom: gutter($gutter-name);

        @include state('last-child') {
          margin-bottom: gutter($gutter-name);
        }
      }

      &.list--inline > .list__item {
        margin-right: gutter($gutter-name);
      }
    }
  }

  &--2x-small {
    margin-bottom: -6px;

    > .list__item {
        margin-bottom: 6px;

      @include state('last-child') {
        margin-bottom: 6px;
      }
    }

    &.list--inline > .list__item {
      margin-right: 6px;
    }
  }

  &--flush {
    margin-bottom: 0;

    > .list__item {
      margin-bottom: 0;
      margin-right: 0;

      @include state('last-child') {
        margin-bottom: 0;
      }
    }
  }
}


  @include extendable('list__item') {
    margin-bottom: spacing('3x-small');

    line-height: 1.25;
  }
