// Hero layout
// --------------------------------
.hero-layout {
  position: relative;
  z-index: z-index('large');

  padding: 200px spacing();

  @include breakpoint('medium', 'down') {
    padding: spacing('3x-huge') spacing();
  }

  // Modifiers
  &--under-header {
    margin-top: -81px; // Equals to height of top header nav
    padding-top: 200px + 81px;

    @include breakpoint('medium', 'down') {
      margin-top: -61px; // Equals to height of top header nav
      padding-top: spacing('3x-huge') + 61px;
    }
  }
}

  .hero-layout__title {
    font-size: font-size('x-huge');

    @include breakpoint('medium') {
      font-size: font-size('huge');
    }

    @include breakpoint('small') {
      font-size: font-size('4x-large');
    }
  }


// List layout & fancy list
// --------------------------------
.list-layout {
  position: relative;
  z-index: z-index();
}

.list-layout__background {
  position: absolute;
  top: 50%; left: 0;
  z-index: z-index('negative');
  transform: translateY(-50%);

  @include breakpoint(1260px, 'down') {
    display: none;
  }
}


// Search form
// --------------------------------
// .search-form {}

  .search-form__label {
    padding-right: 0;

    color: color('grey-light');
  }
