.footer {
  padding: spacing('x-large') spacing();

  background-color: color('grey-3x-light');
}


.footer-contact-list {
  margin-top: -2px; // HACK: Valign correction
}

  .footer-contact-list__item {
    height: 17px; // HACK: Valign correction

    white-space: nowrap;
  }


.bottom-footer {
  overflow: hidden;

  padding: 18px spacing();

  background-color: color('black');
}

.bottom-footer-list {
  text-align: center;
  color: color('white-light');
}

  .bottom-footer-list__item {

    @include specify {
      position: relative;

      padding-left: spacing();

      white-space: nowrap;
    }

    @include state('first-child') {
      padding-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 9px; // HACK: Looks better than 8px
      left: 0;
      width: 1px;
      height: spacing('2x-small');

      background-color: color('white-light');

      @include state('first-child') {
        display: none;
      }
    }
  }
