.form-wizard {
  padding: spacing('2x-large') spacing() spacing('3x-huge');
}

.form-wizard-nav {
  margin-bottom: spacing('huge');
}

.form-wizard-nav-list {
  position: relative;
  z-index: z-index();

  margin-bottom: 0;

  text-align: center;
  font-size: 0;
  white-space: nowrap;
}

  .form-wizard-nav-list__item {
    position: relative;
    display: inline-block;

    margin-left: spacing('3x-huge');

    @include breakpoint('medium') {
      margin-left: spacing('2x-large');
    }

    @include breakpoint('small') {
      margin-left: spacing();
    }

    @include state('first-child') {
      margin-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 21px; right: 50%;
      left: -#{spacing('3x-huge') + spacing()};
      height: 6px;
      z-index: z-index('negative');

      background-color: color('grey-2x-light');

      @include breakpoint('medium') {
        left: -#{spacing('2x-large') + spacing()};
      }

      @include breakpoint('small') {
        left: -#{spacing('2x-large')};
      }

      @include state('first-child') {
        display: none;
      }

      @include state('is-active') {
        transform: none;

        background-color: color('purple');
      }
    }
  }

.form-wizard-nav-button {
  transform: scale((2 / 3));

  background-color: color('grey-2x-light');

  font-size: font-size('x-large');
  color: transparent;

  transition: transform 0.2s transition('bounce');

  @include state(('hover', 'focus')) {
    transform: scale((3 / 4));

    color: color('grey-light');
  }

  @include state('is-active', '.form-wizard-nav-list__item') {
    transform: none;

    background-color: color('purple');

    color: white;
  }
}
