.global-message {
  @extend %panel;

  position: fixed;
  bottom: spacing(); left: spacing();
  width: 420px; max-width: calc(100% - #{spacing('2x-large')});
  z-index: z-index('x-huge');

  box-shadow: shadow('x-large')
}

  .global-message__close {
    @extend %modal__close;
  }
