.header {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: z-index('x-large');

  padding: 0 spacing();

  background-color: color('blue');
  border-bottom: 1px solid color('white-x-light');

  transition:
    background-color 0.2s transition(),
    border-color 0.2s transition();

  @include state('is-sticky') {
    background-color: color('blue');
    border-color: color('white-x-light');
  }

  // Modifiers
  &--transparent {
    background-color: transparent;
    border-color: transparent;
  }
}


// Account menu
// --------------------------------
.account-menu {
  margin: 0;

  // Modifiers
  &--lasktop {
    padding: 0 spacing();

    border-top: 1px solid color('grey-2x-light');
  }
}

  .account-menu__item {
    border-bottom: 1px solid color('grey-2x-light');

    @include state('last-child') {
      border-bottom: 0;
    }
  }

  .account-menu__link {
    display: block;

    line-height: spacing('3x-large');
  }


// Lasktop
// --------------------------------
.lasktop-header {
  height: 81px;

  @include breakpoint('medium', 'down') {
    display: none;
  }
}

.lasktop-menu-link {
  font-weight: font-weight('normal');
  line-height: 80px;
}


.lasktop-header-account {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: z-index();

  appearance: none;
}

  .lasktop-header-account__username {
    line-height: 80px;

    @include state(['hover', 'focus'], '.lasktop-header-account') {
      color: color('grey-dark');
    }
  }

  .lasktop-header-account__chevron {
    transition: transform 0.2s transition();

    @include state(['hover', 'focus'], '.lasktop-header-account') {
      transform: rotate(180deg);
    }
  }

  .lasktop-header-account__dropdown {
    position: absolute;
    top: -9999px; left: -#{spacing()};
    min-width: calc(100% + #{spacing('2x-large')});
    z-index: z-index('negative');
    transform: scale(0.95);
    transform-origin: top center;

    padding: 80px 0 spacing();

    background-color: white;
    box-shadow: shadow('x-large');

    opacity: 0;

    transition:
      top 0s 0.2s,
      transform 0.2s transition(),
      opacity 0.2s transition();

    @include breakpoint(1280px, 'down') {
      left: auto; right: -#{spacing()};
    }

    @include state(['hover', 'focus'], '.lasktop-header-account') {
      top: 0;
      transform: none;

      opacity: 1;

      transition:
        top 0s,
        transform 0.2s transition(),
        opacity 0.2s transition();
    }
  }


// Phablet
// --------------------------------
.phablet-header {
  height: 61px;

  text-align: center;
  line-height: 60px;

  @include breakpoint('medium', 'up') {
    display: none;
  }
}

.phablet-account-nav-toggle,
.phablet-primary-nav-toggle {
  position: fixed;
  top: 0;

  line-height: 60px;
}

.phablet-account-nav-toggle {
  left: spacing();
}

.phablet-primary-nav-toggle {
  right: spacing();
  width: spacing();
  z-index: z-index('huge');

  text-align: center;

  @include breakpoint('medium', 'up') {
    display: none;
  }

  // HACK: Bad nesting in favour of open source animated hamburger icon
  @import '../components/hamburger';
}


.phablet-nav {
  position: fixed;
  top: 0; bottom: 100%; left: 0; right: 0;
  transform: translateY(-100%);
  z-index: z-index('huge');
  overflow: hidden;

  padding: spacing('2x-huge') spacing() spacing();

  background-color: color('blue');

  text-align: center;

  opacity: 0;

  transition:
    bottom 0s 0.4s,
    transform 0.4s transition(),
    opacity 0.4s transition();

  @include breakpoint('medium', 'up') {
    display: none;
  }
}

.phablet-primary-nav {

  @include state('phablet-primary-nav-is-active', 'body') {
    bottom: 0;
    transform: none;

    opacity: 1;

    transition:
      bottom 0s,
      transform 0.4s transition(),
      opacity 0.4s transition();
  }
}

  .phablet-primary-nav__account {
    padding-top: spacing('2x-large');

    border-top: 1px solid color('white-x-light');

    white-space: nowrap;
  }


.phablet-primary-menu-link {
  display: inline-block;

  font-size: font-size('x-large');
  font-weight: font-weight();
}


.phablet-account-nav {
  z-index: z-index('x-huge');

  padding: 0;

  background-color: white;

  @include state('phablet-account-nav-is-active', 'body') {
    bottom: 0;
    transform: none;

    opacity: 1;

    transition:
      bottom 0s,
      transform 0.4s transition(),
      opacity 0.4s transition();
  }
}

  .phablet-account-nav__header {
    position: relative;

    padding: 0 spacing() spacing('2x-large');

    background-color: color('blue');

    line-height: 60px;
  }

  .phablet-account-nav__toggle {
    left: auto; right: spacing();
  }

  .phablet-account-nav__content {
    padding: spacing('2x-large') spacing();

    text-align: left;
  }
