// .login {}

  .login__layout {
    height: 100vh;
  }

  .login__image {
    // NOTE: Fixes IE table-cell > absolute child bug
    position: relative;
    width: 100%;
    height: 100%;
  }

  .login__aside {
    width: 400px;
    height: 100%;

    padding: spacing('2x-large');

    text-align: center;

    @include breakpoint('small') {
      width: auto;

      padding: spacing();
    }
  }

  .login__valign {
    height: calc(100% - #{spacing('small')});
  }

.login-tab-content {
  transform: translateX(#{spacing()});
  transform-origin: right center;

  transition:
    height 0s 0.1s,
    transform 0.1s transition(),
    opacity 0.1s transition();

  @include state('is-active') {
    transition:
      height 0s 0.1s,
      transform 0.2s 0.1s transition(),
      opacity 0.2s 0.1s transition();
  }
}

  .login-tab-content__inner {
    height: 100%;

    padding-bottom: 5px; // HACK: Expose text underline on bottom links
  }
