.photo {
  position: relative;
  z-index: z-index();
  overflow: hidden;

  padding-top: percentage(2 / 3);

  border-radius: border-radius('small');

  // Modifiers
  &--empty {
    border: 1px dashed color('grey-2x-light');

    color: color('grey-light');

    @include state(['hover', 'focus'], '.photo-link') {
      border: 1px solid color('grey-x-light');

      color: color('grey-dark')
    }
  }

  &--all {
    background-color: color('purple');

    font-size: font-size('2x-large');
    color: white;

    @include state(['hover', 'focus'], '.photo-link') {
      background-color: color('purple-dark');
    }
  }

  &--shadow {
    box-shadow: shadow('large');
  }

  &--dark::after {
    content: '';
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 50%;
    z-index: z-index();

    background: linear-gradient(0deg, rgba(black, 0.6), rgba(black, 0));
  }
}

  .photo__background {
    transform: none;

    transition: transform 0.2s transition();

    @include state(['hover', 'focus'], '.photo-link') {
      transform: scale(1.05);
    }
  }

  .photo__photography-type {
    position: absolute;
    bottom: spacing(); left: spacing(); right: spacing();
    z-index: z-index('large');

    text-align: center;
    color: white;
  }


.photo-control {
  position: relative;
  z-index: z-index();
  overflow: hidden;

  padding-top: percentage(2 / 3);

  border-radius: border-radius('small');
}

  .photo-control__photography-type {
    position: absolute;
    bottom: spacing('x-small'); left: spacing('x-small');
    width: spacing('giant');
    z-index: z-index('large');

    box-shadow: shadow();
  }

  .photo-control__delete {
    @include absolute-child;
    z-index: z-index();

    background-color: rgba(black, 0.6);

    color: white;

    opacity: 0;
    transition: opacity 0.2s transition();

    @include state(('hover', 'focus'), '.photo-control') {
      opacity: 1;
    }
  }


// Photo slider
// --------------------------------
.photo-slider {
  position: relative;
  height: 100%;
  background-color: color('grey-dark');
  z-index: z-index();
}

  .photo-slider__close,
  .photo-slider__count {
    position: absolute;
    top: spacing();
    z-index: z-index('large');
  }

  .photo-slider__close {
    right: spacing('2x-large');

    background-color: color('pink');
  }

  .photo-slider__count {
    left: spacing('2x-large');

    background-color: rgba(black, 0.4);
    color: white;

    pointer-events: none;
  }

  .photo-slider__slider {

    // HACK: Bad nesting
    .slick-list,
    .slick-track {
      height: 100%;
    }
  }


// Gallery
// --------------------------------
@keyframes gallery {

  0% {
    transform: translateX(-#{percentage(2 / 3)});
  }

  100% {
    transform: translateX(0);
  }
}

.photo-gallery-wrapper {
  min-width: wrapper('large');
  overflow: hidden;

  // Margin and padding bottom to make room for shadow
  margin: 0 -#{spacing()} -#{spacing()};
  padding: 0 spacing('huge') spacing(); // Gutter * 2
}

.photo-gallery {
  @extend %grid;

  width: calc(300% + 96px);
  white-space: nowrap;

  // Modifers
  &--animate {
    transform: translateX(-#{percentage(2 / 3)});
    animation: 120s linear infinite gallery;

    @include state('hover') {
      animation-play-state: paused;
    }
  }

  &--reverse {
    transform: translateX(0);

    animation-direction: reverse;
  }
}

  .photo-gallery__item {
    @extend %grid__item;

    width: percentage(1 / 12);
  }
