// Getters from config
// --------------------------------
@function wrapper($key: 'default') {
  @return map-get($wrapper-widths, $key);
}

@function gutter($key: 'default', $map: $grid-gutters) {
  @return map-get($map, $key);
}

@function speed($key: 'default', $map: $animation-speeds) {
  @return map-get($map, $key);
}

@function spacing($key: 'default') {
  @return map-get($spacing-units, $key);
}

@function z-index($key: 'default') {
  @return map-get($z-indexes, $key);
}

@function border-radius($key: 'default') {
  @return map-get($border-radii, $key);
}

@function radius($key: 'default') {
  @return border-radius($key);
}

@function font-family($key) {
  @return map-get($font-families, $key);
}

@function font-size($key: 'default') {
  @return map-get($font-sizes, $key);
}

@function font-weight($key: 'normal') {
  @return map-get($font-weights, $key);
}

@function line-height($key: 'default') {
  @return map-get($line-heights, $key);
}

@function color($key: 'grey') {
  @return map-get($colors, $key);
}

@function transition($key: 'standard') {
  @return map-get($transitions, $key);
}


// Utilities
// --------------------------------
@function to-str($value) {
  @return $value + '';
}

@function infinite() {
  @return 99999999px;
}

@function str-split($string, $splitter: '-') {
  $parts: ();
  $index: str-index($string, $splitter);
  @while $index {
    $part: str-slice($string, 1, $index - 1);
    $parts: append($parts, $part);
    $string: str-slice($string, $index + 1);
    $index: str-index($string, $splitter);
  }
  $parts: append($parts, $string);
  @return $parts;
}

@function abbreviate($term, $chars: 1, $splitter: '-') {
  $term: to-str($term);
  $parts: str-split($term, $splitter);
  $abbr-term: '';
  @each $part in $parts {
    $abbr: '';
    @if
      $part == 'none' or
      $part == 'flush' or
      $part == 'hidden' {
      $abbr: '0';
    }
    @else if
      str-length($part) <= 2 and
      str-index($part, 'x') {
      $abbr: $part
    }
    @else {
      $abbr: str-slice($part, 1, $chars);
    }
    $abbr-term: $abbr-term + $abbr;
  }
  @return $abbr-term;
}
